<div class="login-container">
  <img class="film" src="assets/images/film1.png" alt="" />
  <div class="logo">Movie Reviews</div>
  <div class="desc">
    Welcome to our movie review platform! Get ready to immerse yourself in the
    world of cinema. Sign in now to unlock a personalized movie-watching journey
    and connect with like-minded individuals who share your love for the silver
    screen.
  </div>
  <div class="login-form">
    <div class="form-group">
      <label for="username">Username</label>

      <input
        type="text"
        name="username"
        class="form-control"
        [(ngModel)]="username"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        [(ngModel)]="password"
      />
    </div>
    <div class="btn-container">
      <div class="error">{{ errorMsg }}</div>
      <button class="btn btn-dark" (click)="login()">Login</button>
    </div>
  </div>
</div>
