.home-container {
  display: flex;
  .all-movies {
    width: 85%;
    min-height: calc(80vh - 60px);
    border-right: 1px solid #fdc827;
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      h4 {
        text-transform: uppercase;
        font-weight: bold;
        border-left: 5px solid #ff9900;
        padding-left: 10px;
      }
      .view-all {
        color: #ff9900;
        cursor: pointer;
      }
    }
    .movies-thumbnail {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      .movie {
        .cover {
          img {
            border-radius: 5px;
            //  height: 230px;
          }
        }
        .detail {
          width: 180px;
          .name {
            font-weight: bold;
            // font-size:10px;
            height: 50px;
            margin-top: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .popular-movies {
    width: 25%;
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
    h4 {
      text-transform: uppercase;
      font-weight: bold;
      border-left: 5px solid #ff9900;
      padding-left: 10px;
    }
    .movies {
      .movie {
        margin-bottom: 20px;
        margin-top: 30px;
        display:flex;
        align-items:center;
        justify-content:space-between;
        .name{
          font-weight:bold;
          cursor: pointer;
        }
      }
      .view-all{
        color: #ff9900;
        cursor: pointer;
        text-align: right;
        margin-top:30px;
      }
    }
  }
}
.rating {
  padding-right: 30px;
  position: relative;
  .rating-value {
    position: absolute;
    top: 10px;
    right: 0px;
    font-weight: bold;
  }
}